@model IEnumerable<PortalCOSIE.Domain.Entities.Rol>
@{
    ViewBag.Title = "Roles";
}

<h5>Roles</h5>
<table class="table table-bordered table-striped">
    <thead class="table-dark">
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Descripcion</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Nombre</td>
                <td>@item.Descripcion</td>
            </tr>
        }
    </tbody>
</table>

<a class="btn btn-primary" href="@Url.Action("Crear")"><i class="fas fa-plus me-2"></i>Nuevo</a>
